body {
    background-color:#cecece;
    padding-top: 50px;
}

.wctitle {
    color: #005EB8;
    font-family: 'Tahoma', sans-serif;
    font-size: 24px;
    padding-bottom: 40px;
}

.wccentereddiv {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.wccentered{
    margin: auto;
    max-width: 400px;
}

.wccentereddiv.wcresponsive {
    width: 50%;
    height: 50%;
    min-width: 200px;
    max-width: 400px;
}

.wcerror {
    color: red !important;
    font-weight: bold !important;
}
